extends layout

block content
    style.
        .cookie-container {
            max-width: 800px;
            margin: 20px auto;
            padding: 60px;
            background: #333;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-family: Arial, sans-serif;
            color: #fff;
            text-align: center;
        }

        .cookie-container h1 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .cookie-container h2 {
            font-size: 1.8rem;
            margin-top: 40px;
            color: #fff;
        }

        .cookie-container p {
            font-size: 1.2rem;
            line-height: 1.6;
            color: #fff;
            margin-bottom: 10px;
        }

        .cookie-container ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 15px;
        }

        .cookie-container ul li {
            font-size: 1.2rem;
            color: #fff;
            margin-bottom: 10px;
        }

        .cookie-container a {
            color: #2196F3;
            text-decoration: none;
        }

        .cookie-container a:hover {
            text-decoration: underline;
        }

        @media only screen and (max-width: 600px) {
            .cookie-container {
                margin: 60px auto;
            }

        }

    .cookie-container.w3-padding-large
        h1 Cookie Policy
        p This Cookie Policy explains how we use cookies and similar technologies on our website.

        h2 What Are Cookies?
        p Cookies are small text files that are placed on your device to help the website provide a better user experience.

        h2 How We Use Cookies
        p We use cookies to:
        ul
            li Understand and save user preferences for future visits.
            li Compile aggregate data about site traffic and interactions to offer better site experiences and tools in the future.

        h2 Managing Cookies
        p You can control and/or delete cookies as you wish. For details, see
        a(href='https://www.aboutcookies.org') aboutcookies.org.

        h2 Contact Us
        p If you have any questions about our use of cookies, please contact us at
        a(href='mailto:feniks.desmet@student.kuleuven.be') feniks.desmet@student.kuleuven.be.