extends layout

block content
  div(class='w3-container')
    form(method='POST', style='max-width: 600px; margin: 0 auto; padding: 20px; border: 2px solid #333; border-radius: 10px; background-color: #333; text-align: center;')
      h1= title
      // Title input field
      div.form-group(style='margin-bottom: 20px;')
        label(for='title' style=' display: block; margin-bottom: 5px;') Title:
        input.w3-input.w3-border.w3-round-large#title.form-control(type='text', placeholder='Name of event', name='title', required value=(undefined === event ? '' : event.title), style='width: 100%;')

      // Summary textarea field
      div.form-group(style='margin-bottom: 20px;')
        label(for='description' style=' display: block; margin-bottom: 5px;') Summary:
        textarea.w3-input.w3-border.w3-round-large#description.form-control(placeholder='Description', name='description', required value=(undefined === event ? '' : event.title), style='width: 100%; height: 80px; padding: 10px; background-color: #f1f1f1; resize: vertical;')

      // Platform select field
      div.form-group(style='margin-bottom: 20px;')
        label(for='platform' style=' display: block; margin-bottom: 5px;') Platform:
        select.w3-input.w3-border.w3-round-large#platform.form-control(name='platform', required style='max-height: 40px; width: 100%;')
          option(value='PC') PC
          option(value='PS') PS
          option(value='xbox') Xbox
          option(value='switch') Switch

      // Game search input field
      div.form-group(style='margin-bottom: 20px; position: relative;')
        label(for='game' style=' display: block; margin-bottom: 5px;') Game:
        input.w3-input.w3-border.w3-round-large#game.form-control(type='text', placeholder='Search games...', oninput="filtergames()", required style='width: 100%;')
        input(type='hidden', name='game', id='selected-game-id')
        // Custom dropdown menu
        div#game-list(style=' max-width: 600px; width: 100%;   background-color: #fff; display: none; color: black; border-radius: 10px;')
          each game in games
            div.game-item(style='padding: 10px; cursor: pointer;')
              span= game.name
              input(type='hidden', value=game._id, class='game-id')

      // Date and time input field
      div.form-group(style='margin-bottom: 20px;')
        label(for='date' style=' display: block; margin-bottom: 5px;') Date and Time of Event:
        input.w3-input.w3-border.w3-round-large#date.form-control(type='datetime-local', name='date', required value=(event && event.date ? event.date.toISOString().slice(0, 16) : ''), style='width: 100%;')

      // Max participants input field
      div.form-group(style='margin-bottom: 20px;')
        label(for='max_size' style=' display: block; margin-bottom: 5px;') Maximal participants (including yourself):
        input.w3-input.w3-border.w3-round-large#max_size.form-control(type='number', name='max_size', value=(event && event.max_size !== undefined ? event.max_size : ""), min='1', max='40', required style='width: 100%;')

      // Submit button
      button.w3-button.w3-blue.w3-hover-light-blue.w3-round-large(type='submit') Submit

    // Error display if any
    if errors
      ul(style='color: red;')
        each error in errors
          li= error.msg
  style.
    form label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      display: block;
    }

    .game-item:hover {
      background-color: #f0f0f0; /* Change to your desired hover color */
      border-radius: 10px;
    }

    #game-list {
      max-height: 160px; /* Approx 4 items if each is 40px tall */
      overflow-y: auto;
      border: 1px solid #ccc; /* Optional: To give a visual separation */
      padding: 5px;
      position: absolute;
      width: 100%; /* Ensure the dropdown matches the input width */
      max-width: 100%;
    }

    /* Optional: Style the scrollbar */
    #game-list::-webkit-scrollbar {
      width: 8px;
    }

    #game-list::-webkit-scrollbar-thumb {
      background: #888; /* Scrollbar color */
      border-radius: 4px;
    }

    #game-list::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .w3-container {
      padding: 70px;
    }

    @media only screen and (max-width: 600px) {
      .w3-container {
        padding-top: 55px;
      }

      #game-list {
        z-index: 10; /* Ensure the dropdown is above other elements */
      }

      #date {
        z-index: 1; /* Ensure the date input is below the dropdown */
      }
    }

  script(src='/javascripts/scripts.js')


