extends layout

block content
    h1= title
    if event_list.length
        ul
            each event in event_list
                li
                    a(href=event.url) #{event.title}
                    |  (#{event.categorie.name})

    else
        p There are no events.
