extends layout

block content
  h1= title
  input.w3-input.w3-input-search#search(type="text" placeholder="Search games...")
  if game_list.length
    ul#game-list(style='list-style-type:none;')
      each game in game_list
        li
          a(href=game.url, style="font-size: 1.5rem; font-weight: bold;") #{game.name}
  else
    p There are no games.
  style.
    #search, #game-list {
      z-index: 9999; /* Higher than other elements */
      position: relative; /* Ensures it's not covered by other fixed elements */
    }
  script(src="/javascripts/scripts.js")