extends layout

block content
    .game-form-container
        form(action="/home/games/create" method="post")
            .form-group
                label(for="name") Game Name:
                input.w3-input.w3-input-form#name.form-control(type="text" name="name" required).w3-margin-bottom
                if errors && errors.length > 0
                    ul.errors
                        each error in errors
                            li.error= error.msg

            button.w3-button.w3-blue.w3-hover-light-blue.w3-round-large(type="submit") Create Game

    style.
        .game-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        form {
            background: #444; /* Slightly lighter dark gray background */
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 30%;
            color: #fff; /* White text for contrast */
        }

        form h1 {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }

        form .form-group {
            margin-bottom: 1.5rem;
        }

        form label {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            display: block;
        }

        form input {
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
            margin-bottom: 1rem;
        }

        form button {
            padding: 0.75rem 1.5rem;
            font-size: 1.2rem;
            border-radius: 5px;
            background-color: #007bff; /* Bootstrap primary button color */
            color: #fff; /* White text for button */
            border: none;
            cursor: pointer;
        }

        form button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }


        .errors {
            color: red;
            list-style-type: none;
            padding: 0;
        }

        .error {
            margin-top: 5px;
        }