extends layout

block content
    style.
        body, html {
            margin: 0;
            padding: 0;
        }
    .hero
        .hero-text
            h1 GamersDen
            p Party up with other gamers for your favourite game