doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="icon", href="/images/gamersden.png", type="image/png")

        style.

            .sidebar {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1001;
                top: 0;
                left: 0;
                background-color: #151519;
                transition: 0.5s;
                padding-top: 60px;
                overflow: hidden;
                white-space: nowrap; /* Prevent links from wrapping to multiple lines */

            }

            .sidebar a {
                padding: 10px 15px;
                text-decoration: none;
                font-size: 25px;
                color: white;
                display: block;
                transition: 0.3s;
                overflow: hidden;
            }

            .sidebar a:hover {
                background-color: #333;
                color: white;
            }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            .hamburger {
                font-size: 30px;
                cursor: pointer;
                color: white;
                margin-right: 20px;
                display: none;
                position: fixed;
                top: 10px;
                left: 10px;
                z-index: 1002; /* Ensure it is above the main content */
            }

            #cookie-consent-popup {
                display: none;
                position: fixed;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }

            #cookie-consent-popup .w3-modal-content {
                margin: 10% auto;
                border: 1px solid black;
                width: 90%;
                max-width: 500px;
                background-color: gray;
                color: white;
                text-align: center;
            }

            #cookie-consent-popup .w3-container {
                color: white;
                text-align: center;
            }


            #cookie-consent-popup header {
                background-color: gray;
                padding: 10%;
                text-align: center;
            }

            #cookie-consent-popup footer {
                background-color: gray;
                padding:10px;
                text-align: center;
            }

            body, h1, h2, h3, h4, h5, h6 {
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                padding: 0;
            }

            .body-container {
                display: flex;
                flex-direction: column;
            }

            #main-content {
                min-height: 90vh;
                background-color: #212027;
                margin-top: 6vh;
            }

            ::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            ::-webkit-scrollbar-track {
                background: #1f1f1f;
                border-radius: 5px;
            }

            ::-webkit-scrollbar-thumb {
                background: linear-gradient(to bottom, #4f9afa, #651ae6);
                border-radius: 5px;
                border: 2px solid #1f1f1f;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: linear-gradient(to bottom, #651ae6, #4f9afa);
            }

            ::-webkit-scrollbar-corner {
                background: #1f1f1f;
            }

            .footer {
                background: linear-gradient(to right, #4f9afa, #651ae6);
                color: white;
                text-align: center;
                padding: 10px 0;
                width: 100%;
                height: 4vh;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }

            .footer a {
                color: white;
                text-decoration: none;
                margin: 0 10px;
            }

            footer span::before {
                content: "|";
                margin-right: 10px;
            }

            .footer a:hover {
                text-decoration: underline;
            }

            .w3-bar-block {
                list-style-type: none;
            }

            .w3-row-padding img {
                margin-bottom: 12px;
            }

            .w3-sidebar {
                width: 120px;
                background: #222;
            }

            header.w3-bar {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1000;
                background-color: #151519;
                border: 2px solid #151519;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 6vh;
            }

            .w3-bar .w3-bar-item {
                margin-left: 10px;
                font-size: 2vh;
            }

            .w3-bar .w3-bar-item:hover {
                background-color: #333 !important;
                color: white !important;
                border-radius: 10px;
            }

            .hero {
                position: relative;
                width: 100%;
                height: 90vh;
                background: url("/images/gamersdenbackground") no-repeat center center/cover;
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                text-align: center;
            }

            .hero-text {
                background: rgba(0, 0, 0, 0.5);
                padding: 20px;
                border-radius: 10px;
            }

            @media only screen and (max-width: 600px) {
                header.w3-bar {
                    display: none;
                }

                .hamburger {
                    display: block;
                    z-index: 1000;
                }

                #main-content {
                    min-height: 96vh;
                    margin-top: 0;
                }

            }

        script(src='/javascripts/scripts.js')

body(class='body-container w3-black')
    header.w3-bar
        a.w3-bar-item.w3-button(href='/home') Home
        a.w3-bar-item.w3-button(href='/home/events') All events
        a.w3-bar-item.w3-button(href='/home/games') All games
        if user
            a.w3-bar-item.w3-button(href='/home/event/create') Create new event
            a.w3-bar-item.w3-button(href='/home/games/create') Create new game
            a.w3-bar-item.w3-button(href=`/user/profile/${user._id}`) Profile
            a.w3-bar-item.w3-button(href='/user/logout') Logout
        else
            a.w3-bar-item.w3-button(href='/user/login') Login

    header.hamburger
        span.hamburger(onclick='openNav()') &#9776;


    div#main-content
        block content

    footer(class='footer')
        a(href='/privacy-policy') Privacy Policy
        |  |
        a(href='/terms-of-service') Terms of Service
        |
        span Copyright 2024

    div#cookie-consent-popup.w3-modal
        div.w3-modal-content.w3-animate-opacity.w3-card-4(style='max-width: 300px;')
            header
                h2 Cookie Consent
            div.w3-container
                p By visiting our site, you accept that we collect only the necessary cookies.
            footer
                button#accept-cookies.w3-button.w3-green.w3-round-large Accept

    div.sidebar(id='mySidebar')
        a(href='javascript:void(0)', class='closebtn', onclick='closeNav()') &times;
        a(href='/home') Home
        a(href='/home/events') All events
        a(href='/home/games') All games
        if user
            a(href='/home/event/create') Create new event
            a(href='/home/games/create') Create new game
            a(href=`/user/profile/${user._id}`) Profile
            a(href='/user/logout') Logout
        else
            a(href='/user/login') Login