extends layout

block content
    head
        title Login
    body
        h1 Login
        form(action="/user/login" method="POST")
            div
                label(for="username") Username:
                input(type="text" name="username" id="username" required)
            div
                label(for="password") Password:
                input(type="password" name="password" id="password" required)
            div
                button(type="submit") Login

        h2 or
            div
                a(href="/user/auth/google" style="text-decoration: none; color: white; background-color: #4285f4; padding: 10px; border-radius: 5px; display: inline-block;")
                    | Sign in with Google


        h2 not registered yet?
        a(href='/user/register') Register here