extends layout

block content
    head
        title Login
    body
        h1 Login
        form(action="/user/login" method="POST")
            div
                label(for="username") Username:
                input(type="text" name="username" id="username" required)
            div
                label(for="password") Password:
                input(type="password" name="password" id="password" required)
            div
                button(type="submit") Login

        h2 or
            div
                a(href="/user/auth/google") Sign in with Google


        h2 or
            div
                a(href='/user/register') Register here
