extends layout

block content
    .w3-container
        h1 Terms of Service
        p These terms of service govern your use of our website and services.
        h2 Acceptance of Terms
        p By using our website, you agree to these terms of service.
        h2 Use of Services
        p You agree to use our services only for lawful purposes and in accordance with these terms.
        h2 Account Responsibilities
        p You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.
        h2 Termination
        p We reserve the right to terminate or suspend your account at any time for any reason.
        h2 Changes to Terms
        p We may update these terms of service from time to time. Your continued use of our services constitutes acceptance of the updated terms.
        h2 Contact Us
        p If you have any questions about these terms of service, please
            a(href='/contact')  contact us.
